/*
=============== 
About
===============
*/
.section {
  padding-top: 100px;
  min-height: calc(74vh - var(--footer-height));
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.about-title {
  text-align: left;
  margin-bottom: 2rem;
}

.about-title .underline {
  margin-left: 20px;
}

.about-center {
  flex-grow: 1;
  display: grid;
  gap: 3rem 2rem;
  align-content: start;
}

.about-img {
  justify-self: center;
  max-width: 80%;
}

/* Responsive Design for Medium Screens like Tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-center {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about-info {
    padding-bottom: 2rem;
  }
}

/* Responsive Design for Larger Screens like Desktops */
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    position: relative;
  }
  .about-img::before {
    left: -2rem;
  }
  .about-info {
    align-self: center;
  }
}

/* Responsive Design for Smaller Screens like Mobile Devices */
@media screen and (max-width: 767px) {
  .about-center {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-title {
    text-align: center;
  }
  .about-title .underline {
    margin-left: auto;
    margin-right: auto;
  }
  .about-info {
    padding-bottom: 2rem;
  }
}

/* Variable for footer height */
:root {
  --footer-height: 20px;
}

@media screen and (min-width: 360px) and (max-width: 676px) {
  .section {
    height: 120vh;
    overflow: hidden;
  }
}
