/* Hero Section Modern Style */
.hero {
  /* padding: 4rem 0; */
  background-color: #f4f4f4;
  text-align: center;
  height: 72.3vh;
}

.hero-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.hero-info {
  max-width: 600px;
  margin-bottom: 2rem;
}

.hero-info h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-primary-5);
  margin-bottom: 1rem;
}

.hero-info h4 {
  font-size: 1.5rem;
  color: var(--clr-grey-3);
  font-weight: 300;
}

.hero-btn {
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero-btn:hover {
  transform: translateY(-3px);
  background-color: var(--clr-primary-7);
}

.hero-img {
  width: 100%;
  max-width: 300px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.hero-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Design for Mobile Devices (400px to 676px) */
@media screen and (min-width: 360px) and (max-width: 676px) {
  .hero {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero-info h1 {
    font-size: 2.5rem;
  }

  .hero-info h4 {
    font-size: 1.2rem;
  }

  .hero-btn {
    padding: 0.8rem 1.6rem;
  }

  .hero-img {
    max-width: 250px;
  }
  .hero-photo {
    width: 250px;
    height: 250px;
  }
}
